/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .row {
    overflow-x: hidden;
  }

  .section-main {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  .section-main,
  .section-scroll {
    position: inherit;
  }

  .right-side-div-carousel {
    padding-bottom: 75px;
  }

  .footer {
    font-size: 80%;
    padding-left: 22%;
  }

  .phone-icon,
  .mail-icon {
    font-size: 80%;
  }

  .contact-info a h6 {
    font-size: 60%;
  }
}
